name: Deploy to NuxtHub
on: push

jobs:
  deploy:
    name: "Deploy to NuxtHub"
    runs-on: ubuntu-latest
    environment: preview
    permissions:
      contents: read
      id-token: write

    env:
      NUXT_UI_PRO_LICENSE: ${{ secrets.NUXT_UI_PRO_LICENSE }}

    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Check if secret is set
        run: |
          if [ -z "${NUXT_UI_PRO_LICENSE}" ]; then
            echo "❌ Secret is NOT set"
            exit 1
          else
            echo "✅ Secret is set"
          fi

      - name: Install dependencies
        run: npm install

      - name: Debug license
        run: echo "KEY=${NUXT_UI_PRO_LICENSE}"

      - name: Ensure NuxtHub module is installed
        run: npx nuxthub@latest ensure

      - name: Build & Deploy to NuxtHub
        uses: nuxt-hub/action@v2
        with:
          project-key: tsukiyama-blog-y4im
